<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <h3 class="text-white me-4">Social Media App</h3>
        <a class="navbar-brand text-white" href="/Home">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/profile">Profile</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="w-50 d-flex justify-content-end align-items-center px-5">
        <a class="addpost" href="/Create-post"><i class="ri-add-box-fill"></i></a>
        <a class=" btn btn-outline-light" href="/signout">Logout</a>
    </div>
</nav>