<%- include('./Partials/header')%>
    <!--  -->

    <div class="ProfilePage reset-page">
        <div class="container">
            <h1>Froget Password</h1>
        </div>
        <!--  -->
        <div class="container mt-4">
            <form action="/set-password/<%= id%>" method="post" class="w-50 form-control">
                <input class="form-control mb-4" type="password" placeholder="******" name="password">
                <button class="btn btn-primary">Enter Registered Email</button>
            </form>
            <!--  -->
            <a class="text-danger mt-3" href="/forget-password">&#706;&nbsp;&nbsp;Back to the forget page.</a>
        </div>
    </div>
    <!--  -->
    <%- include('./Partials/footer')%>