<%- include('./Partials/header')%>
<!--  -->

<div class="main_r">
  <div class="colore1"></div>
  <div class="colore2"></div>
  <div class="main_box_right">
    <h1 class="h11">Signup</h1>
    <form class="f_r" action="/signup" method="post">
     <div class="dd99">
        <input
        class="r100"
        type="text"
        name="firstname"
        placeholder="First name"
        aria-label="First name"
      />
      <input
        class="r100 r666"
        type="text"
        name="lastname"
        placeholder="Last name"
        aria-label="Last name"
      />
    </div>
      <input class="r1" type="text" name="username" placeholder="UsernName" />
      <input
        class="r1"
        type="email"
        name="email"
        placeholder="Rohit@example.com"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
      <input
        class="r1"
        type="password"
        name="password"
        placeholder="Password"
        id="exampleInputPassword1"
      />
      <button class="btn1">signup</button>
    </form>
    <a href="/"><button class="btn2">Back</button></a>
  </div>
</div>

<!--  -->
<%- include('./Partials/footer')%>
